/* Font Style - Importano sa Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* ________________________________________________________________________________________________ */

/* Reset of all default styles, after that setup of OUR custom styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  /* Margin TOP and BOT 10px, L and R 0 */
  margin: 10px 0;
}

img {
  width: 100%;
}

/* ________________________________________________________________________________________________ */

/* Navbar */

.navbar {
  display: flex;
  /* flex-direction:row is default for display:flex, but I wrote it for better understanding */
  flex-direction: row;
  /* Property for align on UP and DOWN axis */
  align-items: center;
  /* Property for align LEFT and RIGHT (main axis) */
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  /* Classic size of Navbar height */
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* ________________________________________________________________________________________________ */

/* Header */

.hero {
  background: url("../images/home/showcase.jpg") no-repeat center center/cover;
  /* 100vh means something like width:100% but you can't do that with height like that, so we use 100vh (viewport) */
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  /* Property which sets children to column instead row (changes align-item and justify-content functions BEWARE!) */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* If parent is height:100vh we need to set height:100% in child to be able to move with align and justify */
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  /* Top LR Bot */
  margin: 20px 0 30px;
}

/* Sudo selector to make background img overlay */
.hero::before {
  content: "";
  /* Postion absolute (child) because .hero (parent) is position relative */
  position: absolute;
  /* "Sets curtain from upper left corner to 100% width+height on bacground" */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

/* We set .hero::before to overlay 60%, but we want only for img to be affected. With this we affect only BG img */
.hero * {
  z-index: 10;
}

/* ________________________________________________________________________________________________ */

/* Icons */

.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* ________________________________________________________________________________________________ */

/* Cases */
.cases img:hover {
  opacity: 0.7;
}

/* ________________________________________________________________________________________________ */
